<div class="container">
  <div class="row row-cols-5 gx-2 gy-2 justify-content-md-center">
    <app-card
      *ngFor="let i of flipserv.cardItems; let index = index"
      [imageNumber]="i.imageNumber"
      [index]="i.index"
      [indexActual]="index"
      [startAnimation]="i.startAnimation"
      [flipped]="i.flipped"
      [imageVisibility]="i.imageVisibility"
      [itemVisibility]="i.itemVisibility"
    ></app-card>
    <!-- <p class="endOfGame" *ngIf="flipserv.numberOfSolved == 20">Játék vége!</p> -->
  </div>
  <hr />
  <div class="util">
    <app-point></app-point>
    <app-restart></app-restart>
  </div>
</div>
